In [1]:
from dataclasses import replace

import pandas as pd

from libs.mortgage import Mortgage

In [2]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
pd.options.mode.copy_on_write = True

In [3]:
print("Базовая вторичка")
cheap_ugly_second_hand = Mortgage(
    property_cost=10_000_000,
    initial_payment=5_000_000,
    annual_interest_rate_percent=15.0,
    amortization_period_years=30,
    actual_monthly_payment=100_000,
    # payments_reducing_duration={7: 520_000},
    payments_reducing_payment={7: 520_000},
)
cheap_ugly_second_hand.print_mortgage_main_info()

Базовая вторичка
Ипотека будет выплачена за 5 лет 8 мес.
Стоимость недвижимости 10 000 000
Первоначальный взнос 5 000 000
Процентная ставка 15.0%
Начальный срок ипотеки 30
Планируемый ежемесячный платеж 100 000
Планируемые разовые платежи снижающие срок:

Планируемые разовые платежи снижающие платёж:
	  7 мес: 520 000

In [4]:
print("Приличная вторичка")
well_enough_second_hand = replace(
    cheap_ugly_second_hand,
    property_cost=13_000_000,
)
well_enough_second_hand.print_mortgage_main_info()

Приличная вторичка
Ипотека будет выплачена за 19 лет 0 мес.
Стоимость недвижимости 13 000 000
Первоначальный взнос 5 000 000
Процентная ставка 15.0%
Начальный срок ипотеки 30
Планируемый ежемесячный платеж 100 000
Планируемые разовые платежи снижающие срок:

Планируемые разовые платежи снижающие платёж:
	  7 мес: 520 000

In [5]:
print("Приличная вторичка после продажи базовой вторички")
well_enough_after_ugly = replace(
    well_enough_second_hand,
    initial_payment=cheap_ugly_second_hand.property_cost,
    payments_reducing_payment={},  # на втором этапе не получаем льготу
)
well_enough_after_ugly.print_mortgage_main_info()

Приличная вторичка после продажи базовой вторички
Ипотека будет выплачена за 3 лет 1 мес.
Стоимость недвижимости 13 000 000
Первоначальный взнос 10 000 000
Процентная ставка 15.0%
Начальный срок ипотеки 30
Планируемый ежемесячный платеж 100 000
Планируемые разовые платежи снижающие срок:

Планируемые разовые платежи снижающие платёж:

In [6]:
print("IT-ипотека")
it_mortgage_slavery = replace(
    cheap_ugly_second_hand,
    property_cost=20_000_000,
    annual_interest_rate_percent=4.6,
)
it_mortgage_slavery.print_mortgage_main_info()

IT-ипотека
Ипотека будет выплачена за 17 лет 8 мес.
Стоимость недвижимости 20 000 000
Первоначальный взнос 5 000 000
Процентная ставка 4.6%
Начальный срок ипотеки 30
Планируемый ежемесячный платеж 100 000
Планируемые разовые платежи снижающие срок:

Планируемые разовые платежи снижающие платёж:
	  7 мес: 520 000